#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#list-li {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

#list-li > li {
  list-style: none;
  margin: 0 10px;
}

#list-li > li > a {
  text-decoration: none;
  color: white;
}